.a1 { 
    font-family: fantasy;
    text-shadow: 1px 2px 3px rgba(236, 241, 166, 0.829);
}

.틀 {
    border: solid 2px rgb(196, 219, 91) ;
    width: 300px;
    height: 100px;
    background-color: beige;
}

.포탈 {
    list-style: circle;
}
.포탈 a {
    text-decoration: none;
    color: black;
    font-weight: blod;
}
.포탈 a:hover {
    font-style: italic;
    text-shadow: 1px 1px 2px black
}

.리스트 {
    color: #ff0000;
    font-family: 궁서체;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;  
}


