.flex-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.flex-box-height{
    display: flex;
    height: 150px;
    background-color: burlywood;
    justify-content: space-between;
    align-items: center;
}
.flex-box-height>p{
    padding: 55px;
    background-color: antiquewhite;
}


.flex-box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-box-height-wrap{
    display: flex;
    min-height: 150px;
    background-color: blanchedalmond;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;


}