.col{
    
    column-count: 3;
    background-color: antiquewhite;
    column-rule: solid black 2px;
    column-gap: 30px;
    padding: 30px;



}

.span-all {
    column-span: all;
    background-color: rgba(0, 0, 0, 0.226);
}