.네모 {
    border: 3px solid salmon;
}

ul{
    list-style-type: none;
}

.색>li>a{
    text-decoration: none;
}

/* 태그가 block 속성일때 float속성으로 정렬 */
.hashtag>ul>li{
    float: right;
    background-color: blue;
    color: white;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 20px;
}

.hashtag-inline>span{
    clear:both;
    position: relative;
    left: 70%;  
    background-color: blue;
    color: white;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 20px;
}   