body{padding: 0; margin: 0;}

.header{
    padding: 10px;
    width: 100%;
    background-color: rgba(210, 255, 127, 0.24);
    position: fixed;
}

.header>.nav>ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}




/* 고정 내비게이션 바를 사욜할때는 컨텐츠가 보여질 공간 확보 */
.main>.content1{
    /* 브라우저 높이비율에 따라서 보이고 싶을때 사용 */
    height: 100vh;
    padding-top: 150px;
    background-color: rgb(48, 129, 129);
}

.main>.content2{
    height: 100vh;
    background-color: rgba(85, 168, 224, 0.315);
}