body{
    margin: 0; padding: 0;
}

.wrap{
    width: 1000px;
    background-color: rgba(0, 128, 0, 0.541);
    margin: auto;
    font-size: 2rem;
    text-align: center;
}


/* header */
.header{
    width: 1000px;
    height: 200px;
    background-color: green;
    font-size: 4rem;
    /* 텍스트 줄 간격 조정해서 글자 위치 수정 */
    line-height: 150px;
}
/* nav */
.nav{
    height: 100px;
    /* 태그를 넣어서 정렬할떄 - 패딩사용 */
    /* nav의 크기가 지정되어있을때 계산편의를 위해서 border-bos로 변경 */
    box-sizing: border-box;

    /* 안에 들어간 태그들을 flex라면 사용할 필요 없다 */
    padding: 20px 0; 
    background-color: greenyellow
}


/* main-float의 내용 */
.main-float{
    overflow: auto;
}
.main-float>.aside{
    float: left;
    width: 300px; height: 500px;
    background-color: rgba(31, 218, 31, 0.801);
}
.main-float>.content{
    margin-left: 300px; height: 500px;
    background-color: rgba(0, 128, 0, 0.267);
}


/* main-grid의 내용 */
.main-grid{
    /* float를 사용하였다면 clear를 통해 속성제거 */
    clear: both;
    /* grid */
    display: grid;
    grid-template-columns: 300px 700px;
    height: 500px;
}
.main-grid>.aside{
    background-color: greenyellow;
}
.main-grid>.content{
    background-color: rgba(0, 255, 0, 0.562);
}


/* footer */
.footer{
    height: 80px;
}