body{
    margin: 0; padding: 0;
}
.wrap{
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.452);
    margin: auto;
    font-size: 2rem;
    text-align: center;
    color: white;
}

/* float */
.main{
    overflow: auto;
}

.header{
    float: right;
    width: 750px; height: 300px;
    background-color: brown;
    line-height: 300px;
}
.content{
    float: right;
    width: 750px; height: 3 00px;
    background-color: rgba(238, 138, 138, 0.726);
    line-height: 300px;
}
.footer{
    float: right;
    width: 750px; height: 300px;
    background-color: rgba(238, 178, 138, 0.726);
    line-height: 300px;
}
.side{
    margin-top: 420px;
}


/* grid */
.main-g{
    clear: both;
    display: grid;
    grid-template-columns: 250px 750px;
    height: 900px;
}
.header-g{
    background-color: rgba(250, 154, 154, 0.815);
}

.content-g{
    background-color: rgb(246, 186, 252);
}

.side-g{
    background-color: rgba(114, 19, 59, 0.349);
    grid-template-columns: 1/4;
}

.footer-g{
    background-color: rgba(233, 126, 126, 0.616);
}


/* float 두번째 사용방법 */
/* 두개의 내용에 각각 float를 사용해서 크기를 고정 */